[core]
  editor          = subl -w
[alias]
  st              = status
  ci              = commit
  co              = checkout
[color]
  diff            = auto
  status          = auto
  branch          = auto
  interactive     = auto
  grep            = auto
[push]
  default         = current
[branch]
  autosetupmerge  = true
  autosetuprebase = always
[diff]
  # external        = ~/bin/git-opendiff
  tool            = Kaleidoscope
[mergetool]
	keepBackup = true
[difftool]
  prompt          = false
[difftool "Kaleidoscope"]
  cmd             = ksdiff-wrapper git \"$LOCAL\" \"$REMOTE\"
[user]
	name = Corey Innis
	email = corey@coolerator.net
