[alias]
  who = "!echo ; echo ; echo \"\\tworking as `git config user.name`...\" ; echo ; echo"
  what = "!git who ; git diff"
  when = "!git who ; git log"
  st = "!git who ; git status"
  ci = "!git who ; git commit"
  co = "!git who ; git checkout"
  get = "!git who ; git pull"
  put = "!git who ; git push"
[user]
  name = Corey Innis
  email = corey@coolerator.net
[color]
  diff = auto
  status = auto
  branch = auto